data
security
security/*
utils
*-bak
.*.swp
harvest.log
alex-data-sets.csv
copy_to_s3.sh
excluded
sa-water-tests.sh
sawat.csv
utility-subs.sh
dwer_data_old.tar
dwer_back.sh
dwer_data_old.list
data_back
data_tmp
